@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_images/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 488px;
    width: 300px;
}

video#filme {
    display: block;
    position: relative;
    left: 87.5px;
    top: 65px;
    width: 440px;
    border-radius: 2%;
}

audio {
    outline: 0;
}

video {
    outline: 0;
}